

<form action="http://B:7070/dataset/add/" method="post">
Id:<input type="text" name="id" value="test"><br>
Name: <input type="text" name=":name" value=""><br>
Domain: <input type="text" name="domain" value="test"><br>
Link: <input type="text" name="link"  value="www.google.com"><br>
Type <input type="text" name="type"><br>
subtype: <input type="text" name="subtype"><br>
keywords:<input type="text" name="keywords"><br>
columns:<input type="text" name="columns"><br>
statistics:<input type="text" name="statistics"><br>
link:<input type="text" name="link"><br>
pac:<input type="text" name="pac" value="PAC_1"><br>
size:<input type="text" name="size" value="100"><br>
lastupdated:<input type="text" name="lastupdated" value="2017-1-1T1:1:1Z"><br>
version:<input type="text" name="version" ><br>
versionid:<input type="text" name="versionid" value="1"><br>
iscurrent:<input type="text" name="iscurrent"><br>
  <input type="submit" value="Submit">
</form>
