

<form action="http://metadata:6060/metadata/formadd" method="post" enctype='multipart/form-data'>
Name:<input type="text" name="name" value="test"><br>
Metadata file:<input type="file" name="xmlfile"><br>
  <input type="submit" value="Submit">
</form>
